.LoadingWindow {
    position: relative;
    width: 45vw;
    height: 45vw;
    background: #30314a;
    border: 0.5602vw solid #2f5fff;
    border-radius: 3.3612vw;
}

.LoadingWindow img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10vw;
    margin-left: -10vw;
    width: 20vw;
    height: 20vw;
}